import { IconProps } from '{{TYPES_REL_PATH}}';
import BaseIcon from '{{BASE_ICON_REL_PATH}}';
import { component$ } from '@qwik.dev/core';

export default component$((props: IconProps) => {
  return <BaseIcon name="{{ICON_NAME}}" {...props}>
    {{CONTENT}}
  </BaseIcon>;
});
